In [1]:
import pandas as pd

In [2]:
news = pd.read_csv("datasets/news.csv") #Just cbc news
news_data = pd.read_csv("datasets/data.csv")
news_cor = pd.read_csv("datasets/corona_dataset.csv")

In [3]:
news.head(1)

,Unnamed: 0,authors,title,publish_date,description,text,url
0,0,['Cbc News'],Coronavirus a 'wake-up call' for Canada's pres...,2020-03-27 08:00:00,Canadian pharmacies are limiting how much medi...,Canadian pharmacies are limiting how much medi...,https://www.cbc.ca/news/health/covid-19-drug-s...

In [4]:
news_data.head(1)

,id,url,date,source,type,title,content
0,1587502605-43,https://www.who.int/news-room/feature-stories/...,12 March 2020,WHO,NaN,Azerbaijan steps up COVID-19 preparedness and ...,A team of WHO experts is currently in Azerbaij...

In [5]:
news_cor.head(1)

,Unnamed: 0,Unnamed: 0.1,date,title,category,body,source
0,0,0,2020-03-19,Nets' Access to COVID-19 Tests Questioned,Pro Basketball,New York Mayor Bill de Blasio is among those q...,By Reuters

In [6]:
from urllib.parse import urlparse

In [13]:
def get_base_url(df, col, inplace=False):
    df[col + "_base"] = df[col].apply(lambda x:'{uri.scheme}://{uri.netloc}/'.format(uri=urlparse(x)))
    if(inplace == False):
        return df

In [9]:
new_df = get_base_url(news, 'url', inplace=True)

In [11]:
news.head(1)

,Unnamed: 0,authors,title,publish_date,description,text,url,url_base
0,0,['Cbc News'],Coronavirus a 'wake-up call' for Canada's pres...,2020-03-27 08:00:00,Canadian pharmacies are limiting how much medi...,Canadian pharmacies are limiting how much medi...,https://www.cbc.ca/news/health/covid-19-drug-s...,https://www.cbc.ca/

In [15]:
news.url_base.describe()

count                    3566
unique                      1
top       https://www.cbc.ca/
freq                     3566
Name: url_base, dtype: object

In [16]:
get_base_url(news_data, 'url', inplace=True)

In [17]:
news_data.head(1)

,id,url,date,source,type,title,content,url_base
0,1587502605-43,https://www.who.int/news-room/feature-stories/...,12 March 2020,WHO,NaN,Azerbaijan steps up COVID-19 preparedness and ...,A team of WHO experts is currently in Azerbaij...,https://www.who.int/

In [18]:
news_data.url_base.describe()

count                      156
unique                       3
top       https://www.who.int/
freq                        88
Name: url_base, dtype: object

In [20]:
news_data.url_base.unique()

array(['https://www.who.int/', 'https://www.cdc.gov/',
       'https://www.hhs.gov/'], dtype=object)

In [21]:
news_cor.source.describe()

count           1003
unique           149
top       By Reuters
freq             487
Name: source, dtype: object

In [ ]:
#Time for some visuals